@import 'navbar/navbar.scss';
@import 'base/index.scss';
@import 'base/responsive';

@import 'components/carousel';
@import 'components/trending';
@import 'components/infoproduct';
@import 'components/infowhy';
@import 'components/articole';
@import 'components/social';
@import 'components/footer';

@import 'element/button';