


.navbar {
    width: 100%;
    background-color: black;
    overflow: auto;
    height: 10rem;

  }
  .logo{

 
    height: 80%;

  }
  
  
  .navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background-color: #000;
  }
  
//   .active {
//     background-color: #4CAF50;
//   }
  

  @media screen and (max-width: 1200px) {
 
    .logo{
      height: 3rem;
    }
  }
  @media screen and (max-width: 1024px) {
 
    .logoleft{
      height: 3rem;
    }
    .navbar a {

      padding: 1px;
 
      font-size: 10px;
    }

  }

  @media screen and (max-width: 900px) {
 
    .logoleft{
      display: none;
    }
    .navbar a {

      padding: 1px;
 
      font-size: 10px;
    }

    .logo{
      display: none;
    }
  }

  @media screen and (max-width: 600px) {
 
    .navbar a {
      padding: 0px;
      font-size: 10px;
    }
    .bi {
      margin: 6px;
    }

  }

  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
    .logo{
      display: none;
    }
  }

  .nav__menu{
      color: white;
      display: flex;
      &>*{
        margin: 0rem 20px;
        size: 3rem;
      }
      
  }

//   .btn {
  
    
//     .dropdown-toggle {
//         color: rgb(117, 4, 4);
//         color: white;
//         background-color: black;
//          border-color: black; 
//   }
// }

.btn.dropdown-toggle{
    &:hover{
        color: white;
    }
    color: white;
}
.dropdown-menu.show{
    z-index: -3;
    background-color: black;
    color: white;
}
.bi {
    width: 1.4rem;
}



