
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}



.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 190;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
// ==========
.navbar {
    width: 100%;
    background-color: black;
    overflow: auto;
    height: 10rem;

  }
  .logo{

 
    height: 80%;

  }
  .dropdown-menu.show {
    z-index: 3;
    background-color: black;
    color: white;
}
  
  
  .navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background-color: #000;
  }
  
//   .active {
//     background-color: #4CAF50;
//   }
  

  @media screen and (max-width: 1200px) {
 
    .logo{
      height: 3rem;
    }
  }
  @media screen and (max-width: 1024px) {
 
    .logoleft{
      height: 3rem;
    }
    .navbar a {

      padding: 1px;
 
      font-size: 10px;
    }

  }

  @media screen and (max-width: 900px) {
 
    .logoleft{
      display: none;
    }
    .navbar a {

      padding: 1px;
 
      font-size: 10px;
    }

    .logo{
      display: none;
    }
  }

  @media screen and (max-width: 600px) {
 
    .navbar a {
      padding: 0px;
      font-size: 10px;
    }
    .bi {
      margin: 6px;
    }

  }

  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
    .logo{
      display: none;
    }
  }

  .nav__menu{
      color: white;
      display: flex;
      &>*{
        margin: 0rem 20px;
        size: 3rem;
      }
      
  }



