.button{
    &,
    &:link,
    &:visited{
        text-decoration: none;
        text-transform: uppercase;
        padding: 15px 40px;
        display: inline-block;
        border-radius: 60px;
        transition: all .2s;
        position: relative;
        // button
        border:none;
        cursor: pointer;
        text-align: center;
    }

    &--green{
        background-color: rgb(30, 199, 30);
        // border-radius: 60px;
        // outline: none;
        color:white;
    }
    
    &:hover{
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.322);
        transform: translateY(-3px);
    }
    &:active{
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.322);
    }
    &:focus{
        outline: none;
        transform: translateY(-1px);
    }
    
    // &--white{
    //    color: white;
    //    background-color: rgb(0, 0, 0);
    //     border:2px solid white;
   
    // }
    &--whiteX2{
        width: 22rem;
        color: white;
        background-color: black;
        border: 2px solid white;
        font-size: 1rem;
        @include respond(tab-land){
            width: 22rem;
        }
    }
    
}

// .btn{
//     border-radius: 5rem;
//     &-success{
//         border-radius: 5rem;
//     }
// }
.bi{
    height: 3rem;
    // border: 2px solid  white;
}