.img_prod{
    float: right;
    margin-top: -54rem;
    margin-right: 5rem;
    height: 47rem;
}
.img_prod1{
    float: right;
    margin-top: -35rem;
    margin-right: 10rem;
}
.img_prod2{
    float: right;
    margin-top: -37rem;
    margin-right: 10rem;
}

.button--whiteX2{
    border-radius: 3rem;
    padding: 1rem;
    width: 28rem;
}

.motto{
    padding: 1rem 0rem;
    background-color: white;
    border-radius: 3rem;
    color: black;
    width: 20rem;
    margin-left: 8rem;
}
.price{
    font-size: 15rem;
    margin-top: -3rem;
}
.reduce{
    // padding: 1rem;
    display: grid;
    justify-content: center;
    float: left;
    margin-top: -55rem;

}
// .prod{
//     margin-top: -67rem;
//     margin-right: 11rem;
//     height: 57rem;
// }

/* external css: flickity.css */
