.prodinfo{
    .btn{
        @include respond(tab-land){
            margin-right: -8rem;
        } 
        @include respond(laptopL){
            margin-left: -5rem;
            margin-top: -4rem;
            

        } 
        @include respond(tab-port){
            margin-left: -7rem;
         margin-top: -8rem;
        }
        } 
    
    &__load{
        align-items: center;
        // right: 50%;
        // transform: translateX(45%);
        padding: 2rem;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.034);
    }

    &--title{
        padding: 2rem;
        font-size: 4rem;
        line-height: 3rem;

        @include respond(tab-port){
            padding: 1rem 0rem 0rem;
            font-size: 2rem;
            margin-right: 5rem;
            

        } 
  
    }
    &--text{
        padding: 1rem;
        @include respond(tab-port){
            width: 23rem;
            margin-left: 6rem;
            margin-bottom: 0;
 
       }
       @include respond(tab-port){
        p{
            margin-left: -4rem;
            margin-top: 0;
            margin-bottom: 1rem;
        }

   }
    }
    &__component{   
        
        // &--imgRight{
        //     height:  1  0%;
        // }   
        display: flex;
        align-items: center;

        @include respond(tab-port){
            display: grid;
            justify-content: center;
            grid-template-columns: repeat(4, 1fr);
 
       }
       

        &--leftimg{
            height: 566px ;
            width: auto;
            padding: 1rem 0rem;
           margin-left: 3rem;
         
           
            @include respond(tab-land ){
                height: 300px ;
                width: auto;
                padding: 1rem 0rem;
     
           }
   
            @include respond (laptopL){
                height: 318px;
                width: auto;
            
            }
            @include respond (laptop){
                height: 269px;
                width: auto;

            }
            @include respond(tab-port){
                height: 198px;
                width: auto;
                margin: 0;
                margin-right: 4rem;
     
           }

          
          
          
        }

        &--description{
            // display: inline;
            height: 283px;
            width: 310px;
            text-align: center;
            
            @include respond(laptop){
                height: 245px;
           
            
                margin-top: 31px;
                margin-bottom: -101px;
               }
            
            @include respond (tab-port){
                height: 79px;
                margin-top: 0px;
                margin-bottom: 0;
             }
         
        }
        &--descriptionProdImg{
            margin-right: 11.2rem;

            width: 306px;
            height: 336px;

           

                @include respond(tab-land ){
                 height: 166px ;
                 width: 160px;
                }
                
                @include respond (laptopL){
                    margin: 0 2.2rem;
                    width: auto;
                    height: 192px;
                }
                @include respond(laptop){
                    margin: 1rem 2.2rem 0rem;
                    width: auto;
                    height: 137px;
                   }

                   @include respond(tab-port){
                    margin: 0rem -11.8rem -1rem;
                    width: auto;
                    height: 67px;
                   }
                   
           
            // margin-left: 4rem;
        }
        &--1info{
            padding: 0 8rem;
            display: flex;
            @include respond(tab-land ){
                padding: 0 0rem;
               }
               @include respond(tab-port){
                padding: 0 0rem;
               }

        }
        &--descriptionLogo{
           
            height:57px ;
            width: 115px;

            @include respond(tab-port){
                height: 32px;
                width: auto;
                margin-left: -4rem;
               }
        }
        &--imfoImage{
             position: relative;
             align-items: center;
            //  background-color: rgba(0, 0, 0, 0.925);

  

        }
        &--arrow{
            position: absolute;
            z-index: 2;
            top:50%;
            left: -2rem;
            transform: translateY(-50%);
           
            @include respond (laptopL){
                    height: 6rem;
            }
            @include respond(tab-land){
                height: 71px;
            }
            @include respond (tab-port){
                height: 45px;

            }
           
        }

        &--bgDescription{
            .button {
                margin-top: 29%;
                margin-right: -42%;
                height: 4rem;

                @include respond (laptop){
                    margin-top: 21%;
                    margin-right: 0; 
                    height: 5rem;
                }
                @include respond (tab-port){
                    margin-top: 81%;
                    margin-left: -28rem;
                    height: 5rem;
                }
            }
           
            @include respond (laptopL){
                height: 24rem;
                width: 45rem;

            }
            @include respond (tab-land){
                height: 26rem;
                width: 48rem;
            }
            @include respond (laptop){
                height: 24rem;
                width: 45rem;
            }
            @include respond (tab-port){
                height: 17rem;
                margin-left: -2rem;
                /* position: relative; */
                width: 30rem;
                margin-top: -2rem;
            }
           

           
            // display: flex;
            position: relative;
            border-radius: 2rem;
            height: 34rem;
            width: 64rem;
            position: absolute;
            background-color: rgba(0, 0, 0, 0.74);
            z-index: 1;
            margin: 0;
            // transform: translate(50%, 50%);
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
       
            // @include respond (big-desktop){
            //     height: 26rem;
            //     width: 48rem;
            // }
    

            
        }

        &--details{
            
            top: 9%;
            left:20% ;
            color: white;
            position: absolute;
             display: flex;
            // text-decoration: underline;
            &--list{
                display: flex;
                justify-content: space-evenly;
                
                @include respond (laptopL){
                   margin-top: 1.5rem;
                }
            }
            ul{
                margin-top: -2rem;
                margin-left: -3rem;
                list-style: none;
                li{
                    padding: 10px 40px;
                    
                    

                    
                    @include respond (laptopL){
                        padding: 3px 23px;
                    }
                    @include respond (tab-land){
                        padding: 3px;
                    }
                    @include respond (laptop){
                        padding: 3px 23px;
                    }
                    @include respond (tab-port){
                        padding: 0px 15px;
                        width: 18rem;

                    }

                    &:not(:last-child){
                        border-bottom: 0.5px solid white;
                      
                        @include respond (tab-port){
                            border: none;
                        }

                    }
                }
            }

      
            
        }

               
        &--button{
             top: 13rem;
            align-items: center;
           left: 30%;
           height: 3rem;
           @include respond (tab-port){
            margin-top: 84%;
            margin-left: -29rem;
            float: left;
            height: 5rem;
        }

        //    transform: translate(-50%, -50%);
        }
    }

}