.social{

 
  .imgElem{
    height: 100%;
   @include respond(tab-port){
     height: 14rem;
      
   }
  }
    // display: grid;
    // font-family: Montserra;
    padding-bottom: 5rem;
    justify-items: center;
    &__contact{
         display: flex;
         justify-content: space-evenly;
         padding: 4rem 10rem ;


         
    
        
        &--txt{
            :first-child{
                font-size: 28px;    
            }
            font-size: 16px;
            width: 46rem;
            padding-right: 5rem;

            @include respond(tab-land ){
              font-size: 11px;
              padding: 0rem;  
              :first-child{
                font-size: 18px; 
                margin-bottom: -4px; 
               
            }
            }
        }
        .button{
           
            width: 28rem;
        }
        &--mail{
            #email{
                padding: 1rem 2rem;
                width: 28rem;
                border-radius: 3rem;
                border: 1px solid black;
                &:focus{
                    outline: none;

                }
            }
           &>*{
             
            display: block;
            
           } 

        }
    }

    &__media{
      
         display: grid;
         justify-items: center;
         
         .container {
            position: relative;
            width: 50%;

            @include respond(laptopL){
              padding: 0;
            }
            
            @include respond(tab-land){
              width: 100%
            }
          }
          
          .image {
            display: block;
            width: 100%;
            height: auto;
          }
          
          .overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 200%;
            opacity: 0;
            transition: .5s ease;
            background-color: black;
            @include respond(tab-land){
              width: 92%;
              margin-left: 14px;
            }
            @include respond(tab-port){
              width: 100%;
              margin-left: 3px;
               
            }

          }
          
          .container:hover .overlay {
            opacity: .6;
            cursor: pointer;
          }
          
          .text {
            color: white;
            font-size: 20px;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            text-align: center;
          }

         &--photo{
            display: grid;
            grid-template-columns: repeat(4, 1fr) ;
            grid-gap: 1rem;

            @include respond(laptopL){
                  grid-template-columns: repeat(3, 1fr);
     
               margin-left: -19rem;
            }

            @include respond(tab-land){
              grid-template-columns: repeat(3, 1fr) ;
              margin-left: 0rem;
            }

         }

         &--head{

            padding: 4rem 0rem;
            text-align: center  ;
            h1{
                font-size: 28px;
            }
            p{
                font-size: 16px; 
            }
         }
         
       
    }

}