.trending{
    
  
    padding: 5rem;
    display: flex;
    // justify-content:center;
    



            @include respond(tab-land) {
                // width < 900
                display: flex;
                justify-content: center;
            }
            @include respond(tab-port) {
                // width < 900
                display: grid;
                justify-content: center;
            }


    &__products{
       display: flex;
        // justify-content: space-between;
        &-elem{
            // justify-content: space-between;
            // justify-content: flex-start;
            text-align: center;
           
        }
        &-price{
            padding: 4rem;
            line-height: 2rem;

            @include respond(tab-port) { // width < 900
                padding: 1rem;
                line-height: 0rem;
             }
        }
    }
    &__elem{
        display: flex;
        margin-right: auto;
         padding: 10rem 0;

         

          @include respond(tab-land) { // width < 900
            padding: 4rem 0;
          }
          @include respond(tab-port) { // width < 900
            padding: 0rem 0rem;
           text-align: center;
           display: grid;
           justify-content: center;
           margin: 0;
           // padding-top: 0;
         }
        &--arrow{
            display: grid;
            //  flex-direction: column;
             margin-top: -9rem;
            line-height: 5rem;
            padding: 10rem 5rem;  

            @include respond(laptopL) { // width < 900
              
              padding: 10rem 0rem;
             
            }
            @include respond(tab-port) { 
              
                display: inline;
              
                margin-top: 2rem;
                padding: 0rem 0rem;
                margin-left: 0rem;
               
              }
              @include respond(tab-land) { 
                margin-top: 2rem;
                // line-height: 8rem;
                padding: 1rem 0rem;
              }
        }
        &--txt{
            padding: 2rem  0;
            text-align: justify;    
            width: 20rem;

            @include respond(tab-port){
              padding: 2rem 0;
              text-align: justify;
              width: 61rem;
              margin-left: 0rem;
     
           }
        }
        &--info{   
            
            @include respond(tab-port){
               margin-left: 0rem;
             }

            margin-left: 6rem;

       
          }
        // @include respond(tab-land){
          
        // }
       
     

    }
    &__img{
        height: 31rem;
        @include respond(tab-land) { 
            height: 23rem;
          }
    }
}